<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Ubication:</strong>
  <%= @planet.ubication %>
</p>

<p>
  <strong>Kmlongitud:</strong>
  <%= @planet.kmlongitud %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
