<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<h1 style="text-align: center;">Lunas</h1>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Pertenece</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moons.each do |moon| %>
      <tr>
        <td><%= moon.name %></td>
        <td><%= moon.pertenece %></td>
        <td><%= link_to 'Mostrar', moon %></td>
        <td><%= link_to 'Editar', edit_moon_path(moon) %></td>
        <td><%= link_to 'Eliminar', moon, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form>

<input class="My Button" onclick="window.location.href='/homes'" type="button" value="Home">
<input class="My Button" onclick="window.location.href='/moons/new'" type="button" value="Agregar Luna">

</form>
